body{
  background: #343541;
  font-family: sans-serif;
}

h1{
  color: #565869;
  font-size: 33px;
  font-weight: 600;
}

html, body {
  overflow: hidden;
}
/* Neceisot ayuidaaaaaaaaaaaa */
/* hola mundo */